#rihanna {
    display: none;
  }

body{
    font-family: 'Josefin Sans', sans-serif; /* Test for this*/
    margin: 0;
    padding: 0;
    font-size: 16pt; 
}

/* #outer {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;

} */
#maincontent {
/*   
  grid-column: 2/2;
  grid-row: 2/2; */
  margin-left: auto;
  margin-right:auto;
  align-content: center;
  text-align: center;
  
}

h1 {
  font-size: 4em;
  
  
}


.form-login{
  padding-bottom: 2em;
  box-shadow: black 3px;
  
  
}